BasedOnStyle: WebKit

Standard: c++20

SpacesBeforeTrailingComments: 2

FixNamespaceComments: true

BreakConstructorInitializers: BeforeComma

BreakBeforeBraces: Attach

BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
BreakTemplateDeclarations: Yes

ColumnLimit: 120

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2